# macOS
.DS_Store

# Python
__pycache__

# PyCharm
.idea

# Package files
*.egg-info

# Temporary and binary files
*.swp

# Build files
build

# VSCode
.vscode

# Testing
.tox
.coverage
.coverage.*
.hypothesis/
.pytest_cache
htmlcov

# Pictures created by backtesting
*.png

# Data files
DATA/
*.db
!dummy.db
CM*
SM*
SOAP*
ACSF*
AGraph*
